- let firstName = "Akary"
- let lastName = "Thein"
- let fullName = `${firstName} ${lastName}`

#{firstName}

h2 Show value with html tag
p #{firstName}
p.fname #{firstName}
p#fname #{firstName}
h2 Show value equal sign ( = )
p= lastName
p.lname= lastName
p#lname= lastName
h2 Concatenation
p.fullname= firstName + " " + lastName
p.fullname= "First Name: " + firstName + " Last Name: " + lastName
p.fullname= `${firstName} ${lastName}`
p.fullname= `First Name: ${firstName} Last Name: ${lastName} `
h2 ` Sign
p.fullname= fullName

